# -*- coding: utf-8 -*-

import requests
from urllib.parse import urlencode

base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
#public_key = 'https://disk.yandex.ru/d/BzTWlq11hOdHuQ'
public_key = '{{ deb_file_url }}'

# Получаем загрузочную ссылку
final_url = base_url + urlencode(dict(public_key=public_key))
response = requests.get(final_url)
download_url = response.json()['href']

# Загружаем файл и сохраняем его
download_response = requests.get(download_url)
#with open('downloaded_file.txt', 'wb') as f:   # Здесь укажите нужный путь к файлу
with open('/tmp/grafana.deb', 'wb') as f:   # Здесь укажите нужный путь к файлу
    f.write(download_response.content)
